* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Added to include padding and border in the element's total width and height */
}
body {
  width: 100vw;
  height: auto;
  overflow: hidden;
  position: relative;
}
#main-pic {
  height: 100%;
  width: 100%;
}
main {
  position: absolute;
  top: 80px;
  left: 400px;
  width: 600px;
  height: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
main h1 {
  color: white;
  text-decoration: underline;
  font-size: 2.5rem;
}
.sub {
  width: 600px;
  height: 300px;
  border: 1px solid blue;
  background-color: rgba(0, 0, 0, 0.5);
}
